{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Aide{% endblock %}

{% block body %}

<section class="container-fluid container-md p-0 p-md-3 shadow" style="font-family: DS Source Sans,Source Sans,sans-serif;">
    <div class="p-3">
        <h3>RETOURS ET ÉCHANGES EN LIGNE</h2>
        <hr>
        
        <p>Nous espérons que votre commande vous plaira, mais si ce n'est pas le cas, nous avons simplifié les retours et échanges.</p>
        
        <p>Si vous n'êtes pas satisfait de votre achat, vous pouvez le retourner pour un échange ou un remboursement. Les conditions suivantes s'appliquent. Les conditions suivantes n'affectent pas votre droit à l'annulation. Pour plus d'informations, veuillez consulter notre section Droit à l'annulation dans les Conditions de vente ici.</p>
        
        <p>REMARQUE : pour obtenir un remboursement des achats effectués à partir du 1er février 2023 selon le mode de paiement initial, la marchandise doit être retournée accompagnée du reçu d'origine, de la facture ou de la confirmation de commande. Cela n'affecte pas les droits que te confèrent en ce qui concerne les (i) biens défectueux ou (ii) ton droit d'annulation de 14 jours qui court de la date de livraison et qui peut être exercé en communiquant ton intention d'annuler le contrat et de retourner l'article.</p>
        
        <p>Si vous avez effectué un achat en Bulgarie, en République tchèque, au Danemark, en Hongrie, en Lituanie, en Norvège, en Pologne ou en Suède, le 19 octobre 2022 ou avant, votre contrat de vente est conclu entre vous et notre ancien partenaire de vente international eShopWorld. Vous êtes soumis aux conditions générales, notamment la procédure de retour et de remboursement, telles qu'elles vous sont proposées par eShopWorld, qui peuvent être consultées ici. Pour toute question ou préoccupation, veuillez contacter eShopWorld. Pour tout achat en provenance des pays ci-dessus après le 19 octobre 2022, veuillez vous reporter aux Conditions de vente ci-dessous qui s’appliquent.</p>
        
        <h5>Le retour ou l'échange de marchandises achetées en ligne</h5>
        
        <p>Nous avons simplifié les retours et échanges en ligne - cliquez ici pour commencer.</p>

        <p>Après avoir envoyé votre retour ou votre échange en ligne, vous recevrez une étiquette de retour par e-mail (ce service n'est pas disponible dans tous les pays).
        Pour les retours, des frais de €5 seront déduits de votre remboursement si vous utilisez l'étiquette de votre colis ou l'étiquette qui vous a été envoyée par e-mail. Si vous utilisez votre propre transporteur, le coût d'expédition pour le retour de vos articles sera à votre charge.</p>

        <p>Si vous utilisez notre étiquette de retour, votre remboursement ou votre échange sera traité dès que nous confirmerons avoir reçu votre retour.</p>

        <p>Les colis retournés par l'intermédiaire du transporteur de votre choix doivent être envoyés à l'adresse ci-dessous.</p>

        <p>GDSport. Returns Department</p>
        <p>Leeghwaterweg 4-6-8</p>
        <p>4612 RD Bergen op Zoom</p>
        <p>Pays-Bas</p>
    </div>

</section>

{% endblock %}

