{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Aide{% endblock %}

{% block body %}

<section class="container-fluid container-md p-0 p-md-3 shadow" style="font-family: DS Source Sans,Source Sans,sans-serif;">
    <div class="p-3" style="font-family: DS Source Sans,Source Sans,sans-serif;">
        <h3>RETOURS ET ÉCHANGES EN MAGASIN</h2>
        <hr>
        <h5>POLITIQUE SUR LES RETOURS ET ÉCHANGES EN MAGASIN</h5>
        <p class="fw-bold">Nous espérons que votre commande vous plaira, mais si ce n'est pas le cas, nous avons simplifié les retours et échanges.</p>

        <p>REMARQUE : pour obtenir un remboursement des achats effectués à partir du 1er février 2023 selon le mode de paiement initial, la marchandise doit être retournée dans les 30 jours suivant la date d'achat accompagnée du reçu d'origine, de la facture ou de la confirmation de commande. Cela n'affecte pas les droits que te confèrent en ce qui concerne les (i) biens défectueux ou (ii) ton droit d'annulation de 14 jours qui court de la date de livraison et qui peut être exercé en communiquant ton intention d'annuler le contrat et de retourner l'article.</p>

        <p>Notre politique : en plus de vos droits, nous permettons le retour de marchandise pour de nombreuses raisons conformément à la politique ci-dessous.</p>

        <p>Si la marchandise est dans sa condition d'origine, vous pouvez la retourner et/ou l'échanger, sous réserve de la politique de retour de l'endroit dans lequel vous effectuez votre retour. Les retours en Europe sont sujets aux conditions ci-dessous.</p>

        <p>La marchandise dans son état d'origine peut être retournée et/ou échangée dans un magasin GDSport. situé dans le même pays d'achat. Vous ne pouvez pas non plus retourner la marchandise en l'envoyant dans nos magasins.</p>

        <p>Nous n’acceptons plus les retours pour les articles suivants :</p>

        <p>Retours avec le reçu original : dans les 30 jours suivant l'achat, vous recevrez un remboursement total de la valeur de la marchandise indiquée sur le reçu, selon votre mode de paiement. Après 30 jours, vous recevrez un avoir sur marchandises égal au montant du paiement original. Retour avec un reçu cadeau valable ou un reçu d'échange : vous recevrez un avoir sur marchandises égal au montant du paiement original. Retours sans reçu : vous recevrez un avoir sur marchandises basé sur le prix de vente le plus bas de la marchandise par le passé. Retours de marchandises achetées dans un autre pays : vous recevrez un avoir sur marchandises basé sur le prix de vente le plus bas de la marchandise par le passé.</p>

        <p>Retours promotionnels : si tout ou partie d'un achat faisant l'objet d'une promotion est retourné, ce retour résultant en une transaction originale inférieure au seuil requis, le montant du retour et/ou toute carte promotionnelle, coupon, etc. (le cas échéant) sera réduit afin de refléter les conditions de l'offre promotionnelle pour laquelle vous auriez été éligible lors de la transaction originale moins la valeur des marchandises retournées.</p>

        <p>Cartes cadeaux : les achats de cartes cadeaux sont définitifs. Les cartes cadeaux et avoirs de marchandises ne peuvent pas être échangés contre de l'argent, sauf disposition légale. Veuillez noter que les cartes cadeaux ne sont pas disponibles dans tous les pays.</p>

        <p>Vos droits : lorsque vous achetez de la marchandise chez nous, vous disposez d'un nombre de droits juridiques en tant que consommateur.  Ces droits incluent des recours tels que le droit de demander un remboursement et/ou un remplacement lorsque la marchandise est défectueuse ou faussement décrite.</p>

        <p>Politique de retour pendant la période de fêtes : avec l'original du reçu, la marchandise achetée entre le 1 novembre et le 31 décembre pourra être retournée pour un remboursement total du prix de l'achat selon votre mode de paiement jusqu'au 31 janvier de l'année suivante.</p>
        
        </div>
</section>

{% endblock %}

