{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Aide{% endblock %}

{% block body %}

<section class="container-fluid container-md p-0 p-md-3 shadow" style="font-family: DS Source Sans,Source Sans,sans-serif;">
    <div class="p-3" style="font-family: DS Source Sans,Source Sans,sans-serif;">
        <h3>Qualité De La Marchandise</h2>
        <hr>
        <h5>Achat en ligne</h5>
        <p>Si vous pensez que votre marchandise est défectueuse, endommagée ou qu'elle ne correspond pas à la description qui en est faite sur notre site Web, vous pouvez nous en informer par e-mail à GDSport@gmail.com ou nous appeler au 03 20 20 14 15.</p>

        <h5>Achat en magasin</h5>
        <p>Si vous n'êtes pas satisfait de la qualité de votre marchandise, merci de la retourner dans le magasin le plus proche de chez vous. Si vous disposez toujours du reçu, nous pourrons vous rembourser conformément au mode de paiement original. Si vous ne disposez plus du reçu, nous vous attribuerons un avoir sur marchandises équivalent à la dernière valeur connue des articles.</p>
    </div>
</section>

{% endblock %}

